/*------------------------------------------------
                    BODY
------------------------------------------------*/

body {
  background-color: transparent;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  text-align: center;
  flex: 1 0 auto;
}

.page-footer {
  background-color: #6e73ee
}

/*------------------------------------------------
                    LOGIN BOX
------------------------------------------------*/

.login-box {
  display: inline-block;
  padding: 0px 0px 0px 0px;
  border: 1px solid #EEE;
}

/*------------------------------------------------
                    BRANDING
------------------------------------------------*/

.quickpanel-brand {
  font-family: 'Lobster', sans serif;
}

.big-header {
  font-size: 40;
}


/*------------------------------------------------
                    TABS
------------------------------------------------*/

.tabs .tab a {
  color: #00ACC1;
  background-color: transparent;
}

.tabs .tab a:hover,.tabs .tab a.active {
  color: #008B9B;
  background-color: transparent;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  font-weight: normal;
  background-color: rgba(181, 178, 246, 0.2);
  outline: none;
}

.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
  color: rgba(102,147,153,0.1);
  background-color: transparent;
}

.tabs .indicator {
  background-color: #009BAD;
}
